* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

*::-webkit-scrollbar {
  display: none;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  display: flex;
}
.bar {
  width: 10vw;
  height: 105vh;
}
.counter {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1000;
  font-size: 25vw;
  font-family: "Generator Bold";
  right: 15px;
  top: 15px;
}
.counter-1 {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  right: 15px;
  bottom: 15px;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000;
  font-size: 7vw;
  letter-spacing: -5px;
  font-family: "Generator Bold";
}

#set-arrow,
#wtn-arrow,
#crums-arrow,
#projx-arrow {
  display: none;
}
#set-container:hover #set-arrow,
#wtn-container:hover #wtn-arrow,
#crums-container:hover #crums-arrow,
#projx-container:hover #projx-arrow {
  display: block;
}

.word {
  overflow: hidden !important;
}

.container {
  overflow: hidden;
}
