@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SuisseIntl";
  src: url("./assets/fonts/suisseintl-book-webfont.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Generator Bold";
  src: url("./assets/fonts/generator-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src: url("./assets/fonts/geist-mono-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.geist-mono {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
