/* responsive */

@media (min-width: 1536px) {
  .hero {
    font-size: 200px !important;
  }
  .animate-text {
    font-size: 38px !important;
    line-height: 45px !important;
  }
}

/* portrait screens */
@media (orientation: portrait) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (max-width: 636px) {
    .counter-1 {
      letter-spacing: -2px !important;
    }
    .hero {
      font-size: 4rem !important;
      line-height: 60px;
    }
    .title {
      font-size: 2rem !important;
      letter-spacing: normal !important;
      text-align: center !important;
    }

    /* EXPERIENCE PAGE */
    .experience-text {
      font-size: 0.8rem !important;
    }
    .experience-logo {
      width: 45px !important;
      height: 45px !important;
    }
  }

  @media (max-width: 405px) {
    .hero {
      font-size: 15vw !important;
    }
  }
}
